@media screen and (max-width: 480px)
{ 
.landing-wrapper.margin-t-xl {
    padding-top: 11rem;
}

	.hero--desktop {
		display: block;
	}
	.login-pg .col {
    flex-basis: unset !important;
}
}

.navbar-collapse {
    transition: none !important;
}


ul.navbar-nav li.nav-item {
    padding: 0px;
}

ul.navbar-nav li.nav-item {
    padding: 0px;
    margin: 0px 10px;
}

@media screen and (max-width: 480px)
{ 
button.navbar-toggler {
    position: fixed;
    top: 30px;
    right: 15px;
}
.navbar-collapse.collapse {
    position: absolute;
    width: 230px;
    right: -10px;
    top: 22px;
    background: #1e1e1e;
    padding: 15px;
}
.navbar-collapse.collapse a.nav-link, .navbar-collapse.collapse li.nav-item.active a {
    color: #fff;
}

}

@media only screen and (max-width: 375px) and (min-width: 320px)  {
    .margin-t-l {
        margin-top: 0.2rem !important;
    }
    .hero__heading {
        font-size: 2.1rem !important;
    }
    button.btn.btn--full.btn--brand.txt-defaultcase.lineheight-reset {
        padding: 6px !important;
    }	
	
}

@media only screen and (max-width: 600px) and (min-width: 480px)  {
	
	.hero--desktop {
    display: block;
}
.landing-wrapper {
    padding-top: 10rem;
}
}


