@media screen and (max-width: 480px)
{ 
    .landing-wrapper.margin-t-xl {
       position: relative;
        top: 32vh;
        right: -1vh;
    }

	.hero--desktop {
		display: block;
	}
	.login-pg .col {
    flex-basis: unset !important;
}
.menu ul li {
    width: 33% !important;
}
	.menu ul {
		overflow-x: scroll;
	}
	nav#sidebarMenu .main a {
    width: 100% !important;
    float: left !important;
    border: 1px solid #638e3c !important;
    margin: 10px 2px !important;
    border-radius: 8px !important;
}
header.header nav#sidebarMenu .list-group a {
    padding: 10px 2px !important
}
	nav#sidebarMenu .main {
		display: inline-block;
		padding: 0px 6px !important;
	}
	.profile-btn {
		position: absolute !important;
		right: 0 !important;
		bottom: 0 !important;
	}
	.list-group i {
		display: block !important;
		text-align: center !important;
	}
	.list-group span {
		text-align: center!important;
		width: 100%!important;
		display: block!important;
		margin: 0px !important;
	}
	.acc-info a .left {
		text-align: center!important;
		align-items: center!important;
		display: inline-grid!important;
	}
	.acc-info p.user-ins {
		margin: 0px auto!important;
	}
.acc-info .left p, .acc-info .left a, .list-group .acc-info p.info {
    padding: 0px 5px!important;
    font-size: 13px!important;
    margin-left: 0px !important;
}
	.sidebar-footer .right {
    display: block!important;
    text-align: left !important;
}
	.acc-info a .left {
    width: 60% !important;
}
.acc-info a .right {
    width: 40% !important;
}
p.user-name {
    width: 100%;
    text-align: left !important;
}
.row.med-iin .col-md-3 {
    width: 50%;
    margin: 10px 0px;
}
span.gender {
    margin-right: 10px !important;
    padding: 0px 15px !important;
}
span.gender label {
    font-size: 14px;
}
.form-check .form-check-input {
    margin-left: -0.5em !important;
    margin-top: 6px;
}
label.form-check-label {
    margin-left: 20px;
}
.upload {
    margin-bottom: 10px;
}
input[type="text"], input[type="number"], input[type="tel"], input[type="password"], input[type="date"], input[type="search"], input[type="email"], input[type="datetime-local"] {
    padding: 0.4rem 0.8rem 0.5rem 5px !important;
}
.btn-div {
    display: block !important;
}
.gallery.row img {
    object-fit: contain;
}
}

.navbar-collapse {
    transition: none !important;
}


ul.navbar-nav li.nav-item {
    padding: 0px;
}

ul.navbar-nav li.nav-item {
    padding: 0px;
    margin: 0px 10px;
}

@media screen and (max-width: 480px)
{ 
button.navbar-toggler {
    position: fixed;
    top: 30px;
    right: 15px;
}
.navbar-collapse.collapse {
    position: absolute;
    width: 230px;
    right: -10px;
    top: 22px;
    background: #1e1e1e;
    padding: 15px;
}
.navbar-collapse.collapse a.nav-link, .navbar-collapse.collapse li.nav-item.active a {
    color: #fff;
}

}

@media only screen and (max-width: 430px) and (min-width: 320px)  {
    .margin-t-l {
        margin-top: 0.2rem !important;
    }
    .hero__heading {
        font-size: 2.1rem !important;
    }
    button.btn.btn--full.btn--brand.txt-defaultcase.lineheight-reset {
        padding: 6px !important;
    }	
    .landing-wrapper.margin-t-xl {
        position: relative;
         top: 20vh;
         right: -1vh;
     }
	
}


@media only screen and (min-width: 430px){
    .margin-t-l {
        margin-top: 0.2rem !important;
    }
    .hero__heading {
        font-size: 2.1rem !important;
    }
    button.btn.btn--full.btn--brand.txt-defaultcase.lineheight-reset {
        padding: 6px !important;
    }	
	
}


@media only screen and (max-width: 600px) and (min-width: 480px)  {
	
	.hero--desktop {
    display: block;
}
.landing-wrapper {
    padding-top: 10rem;
}
}


