body {
transition: opacity ease-in 0.2s;
}
header {
    text-align: center;
    box-shadow: 0px 2px 4px 2px #ccc;
    padding: 10px;
}
img.header-logo {
    width: 200px;
}
img.header-icon {
    position: absolute;
    left: 100px;
    top: 30px;
}
img.user-img {
    width: 100px;
    border: 5px solid #ccc;
    border-radius: 50%;
    margin-bottom: 25px;
}
p.bold-txt {
    font-size: 22px;
    color: #212843;
    font-weight: 700;
    margin-top: 30px;
}
p.txt {
    font-size: 17px;
    color: #62739c;
}
input, select {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 2px solid #212843 !important;
    padding: 12px;
}
label {
    margin: 30px 0px 10px;
    font-size: 17px;
    font-weight: 600;
    color: #212843;
}
p.info {
    margin: 0px 0px 10px;
    font-size: 15px;
    color: #62739c;
}
span.dob input {
    width: auto;
    margin-right: 13px;
    padding: 10px 20px;
    text-align: center;
}
span.dob {
    display: flex;
}
p.info-bold {
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
    color: #212843;
}
.next.button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-top: 40px;
    border-radius: 40px;
    color: #fff;
    background: #212843;
    border-bottom: #212843;
}
select#province {
    font-size: 22px;
    padding-left: 15px;
    font-weight: 600;
}
.gender-div {
    display: flex;
}
span.gender {
    width: auto;
    display: flex;
    border: 2px solid #212843;
    margin-right: 20px;
    border-radius: 6px;
    padding: 0px 20px;
    text-align: center;
    align-items: center;
}
span.gender input {
    width: 18px;
}
span.gender label {
    margin: 0px 0px 0px 10px;
}
.card-body {
    background: #dae2f7;
}
.icon.icon-primary {
    margin-right: 25px;
}
.icon.icon-primary i {
    font-size: 40px;
    padding: 14px;
    background: #c1cbe5;
    color: #62739c;
    border-radius: 8px;
}
.card-body p {
    margin: 0px;
}
.card h5, .card p, .card a {
    color: #212843;
    text-decoration: none !important;
    border: none !important;
}
p.reshare {
    position: absolute;
    top: 75px;
    right: 22px;
    color: #212843;
}
.verify {
    position: relative;
}
p.reshare a {
    color: #212843;
    text-decoration: none;
    font-size: 16px;
}
.upload {
    border: 2px dotted #212843 !important;
    height: 170px;
    position: relative;
}
input#myFile {
    opacity: 0;
    height: 170px;
    z-index: 999;
    position: relative;
}
.upload label {
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 0;
}
.user-info .fa {
    font-size: 156px;
    color: #212843;
}
.txt-large {
    font-size: 37px;
    font-weight: 700;
    margin-top: 20px;
    color: #212843;
}
.card:nth-child(1) .card-body {
    background: #eff3fe;
}
.card:nth-child(1) .card-body .icon.icon-primary .fa {
    background: #dfe7fc;
    color: #4e2a84;
}
.card:nth-child(2) .card-body {
    background: #fff3ee;
}
.card:nth-child(2) .card-body .icon.icon-primary .fa {
    background: #fde0d5;
    color: #dd6c45;
}
.card:nth-child(3) .card-body {
    background: #def6e8;
}
.card:nth-child(3) .card-body .fa {
    background: #b1e0c4;
    color: #2f8050;
}
.card {
    padding: 0px !important;
}
span.search {
    background: #f1f1f1;
    padding: 5px 18px;
    border-radius: 25px;
    margin-right: 10px;
}
p.error {
    background: #f1f1f1;
    padding: 2px 15px;
    border-radius: 6px;
    font-weight: 600;
    position: relative;
}
p.error a {
    position: absolute;
    right: 15px;
    color: #212843;
    text-decoration: none;
}
span.search label {
    margin: 10px 0px;
}
.company-card {
    border: 1px solid #eae5e5;
    padding: 0px !important;
    border-radius: 12px !important;
}
img.company-logo {
    width: 180px;
    padding: 10px 0px 0px 15px;
}
.company-card p.bold-txt, .company-card p.txt {
    margin: 0px;
    padding: 10px 0px 0px 15px;
}
a.button.save {
    background: #dfe7fc;
    display: block;
    padding: 10px 15px;
    margin-top: 15px;
    text-decoration: none;
    color: #212843;
    font-weight: 600;
    border-radius: 0px 0px 12px 12px;
}
.user-info {
    padding: 20px 20px;
    text-align: center;
    border: 1px solid #e5e2e2;
}
.user-info .row {
    text-align: left;
}
.tab {
    margin-bottom: 20px;
}
.tab p {
    margin: 6px 0px;
}
.user-info a.button {
    text-align: center;
    width: 100%;
    display: block;
    border: 2px solid #212843;
    padding: 10px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 700;
}
.user-info a.button.light {
    color: #212843;
}
.user-info a.button.dark {
    color: #fff;
    background: #212843;
}
header.header {
    padding: 0px;
}
.dashboard {
    background: #212843;
    color: #fff;
    padding: 15px;
    z-index: 12;
}
.user-ins {
    font-size: 20px;
    border: 2px solid #c1cbe5 !important;
    border-radius: 50%;
    float: left;
    margin: 0px;
    width: 55px;
    height: 55px;
    text-align: center;
    align-items: center;
    display: grid;
    padding: 0px !important;
    background: #212843;
    opacity: 1;
    color: #fff !important;
}

.dashboard .info, .user-name {
    text-align: left;
    margin-left: 70px !important;
    margin-bottom: 0px;
}
.user-name {
    font-size: 20px;
    font-weight: 600;
}
.profile-btn {
    text-decoration: none;
    color: #212843;
    background: #c1cbe5;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
}
.menu ul li a {
    padding: 20px !important;
    font-size: 18px;
    color: #212843;
    text-decoration: none;
    width: 100%;
    display: block;
}
.menu ul li {
    width: 25%;
}
.menu ul {
    display: flex;
    list-style-type: none;
    margin: 0px auto;
    width: 85%;
}
a.active {
    border-bottom: 2px solid #212843;
}
.row.bg-light, .med-info.bg-light {
    background-color: #e5e3ff !important;
    padding: 10px;
    border-radius: 6px;
}
a.info-btn {
    font-size: 20px;
    text-decoration: none;
    color: #212843;
    display: inline-block;
    margin-top: 20px;
}
.bg-light {
    border: 1px solid #e5e3ff;
    padding: 15px;
    border-radius: 6px;
}
.med-info i {
    background: #fff;
    padding: 12px;
    border-radius: 10px;
    font-size: 22px;
}
.menu ul li a:hover {
    background: #c1cbe5;
}
p.big {
    position: absolute;
    font-size: 400px;
    color: #212843;
    text-align: center;
    align-items: center;
    left: 5%;
    top: 33%;
}
h2.display-5.pt-5 {
    font-weight: 900;
}   
img.partner-img {
    width: -webkit-fill-available;
}

.add-btn {
    order: 8;
}
.add-btn button#add {
    height: 170px;
    position: relative;
    width: 100%;
    background: #c9d2e5;
    color: #212843;
    font-size: 18px;
}
.add-btn button#add .fa {
    font-size: 24px;
}


.light-bg {
    background: #c4d1f0;
    padding: 15px;
}
.label {
    font-size: 17px;
    font-weight: 600;
    color: #212843;
    display: block;
}
.radio label {
    margin: 14px 14px !important;
}
.radio input {
    width: 20px;
}
span.radio {
    display: inline-flex;
}

.user-name .fa {
    position: relative;
    top: -3px;
}



.dashboard {
    position: relative;
}
nav#sidebarMenu {
    width: 33%;
    text-align: left;
    overflow: auto;
    max-height: 100vh;
    min-height: 100vh;
    position: fixed;
    height: auto;
    top: 0px;
    padding-top: 70px;
    z-index: 1;
}
nav#sidebarMenu .main {
    display: inline-block;
    padding: 0px 15px;
}
nav#sidebarMenu .main a {
    width: 50%;
    float: left;
}
nav#sidebarMenu .main a.active {
    background: #c1cbe5;
    color: #000;
}
nav#sidebarMenu .list-group p, nav#sidebarMenu .list-group a {
    padding: 0px 20px;
}
nav#sidebarMenu .list-group a {
    padding: 25px 20px !important;
    font-size: 17px;
    font-weight: 500;
    border-top: 1px solid #ccc;
}
nav#sidebarMenu .main a {
    width: 44%;
    float: left;
    text-align: center;
    border: 1px solid #ccc;
    margin: 10px 10px;
    border-radius: 8px; 
}
nav#sidebarMenu .main a.active, nav#sidebarMenu .list-group a:hover {
    background: #c1cbe5;
    color: #000;
}
nav#sidebarMenu .main a .fa {
    display: block;
}
nav#sidebarMenu .list-group a .fa {
    font-size: 24px;
    margin-bottom: 10px;
}
.acc-info p.info {
    text-align: left;
    margin-left: 70px !important;
    margin-bottom: 0px;
}
.acc-info a {
    display: flex;
    text-decoration: none;
    color: #212843;
}
.acc-info a .left {
    width: 80%;
}
.acc-info a .right {
    width: 20%;
    text-align: end;
    font-size: 16px;
    margin-top: 10px;
}

.sidebar-footer {
    display: flex;
    padding: 10px 0px;
}
.sidebar-footer .left {
    width: 100%;
}
.sidebar-footer img {
    width: 45px;
}
.sidebar-footer .right {
    text-align: end;
    width: 100%;
    align-items: center;
    display: flex;
}
.sidebar-footer .right a {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: #212843;
}
.sidebar-footer a {
    border: none !important;
    background: none !important;
}
button.close:after {
    content: "+";
    background: #212843;
    font-size: 42px;
    width: 46px;
    height: 46px;
    left: 3px;
    line-height: 38px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    transform: rotate(45deg);
    color: #fff !important;
}