.short-name{
    color: #fff !important;
}
body {
transition: opacity ease-in 0.2s;
}
a.need-text:hover {
    color: #212843 !important;
}
header {
    text-align: center;
    box-shadow: 0px 2px 4px 2px #ccc;
    padding: 10px;
}
img.header-logo {
    width: 200px;
}
img.header-icon {
    position: absolute;
    left: 100px;
    top: 30px;
}
img.user-img {
    width: 200px;
    /* border: 5px solid #638e3c; */
    /* border-radius: 50%; */
    margin-bottom: 0px;
}
p.bold-txt {
    font-size: 22px;
    color: #212843;
    font-weight: 700;
    margin-top: 30px;
}
p.txt {
    font-size: 17px;
    color: #62739c;
}
.dashboard-main p.txt {
    font-size: 17px;
    color: #62739c;
}
.dashboard-main .appointemt-contact .bg-light:hover {
    background-color: #8ac03d !important;
}
.dashboard-main .appointemt-contact .bg-light:hover .med-info p {
    color: #fff;
}
.appointemt-contact .bg-light {
    border: 1px solid #638e3c;
    background-color: #fff !important;
    transition: 0.7s;
}
.menu ul li a i.fa {
    color: #638e3c;
}
.menu ul li a i.fi {
    color: #638e3c;
}
input, select {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 2px solid #638e3c !important;
    padding: 12px;
}
.existing-pres label{
    font-size: 14px; 
}
label {
    /* margin: 30px 0px 10px; */
    font-size: 17px;
    font-weight: 600;
    color: #212843;
}
p.info {
    margin: 0px 0px 10px;
    font-size: 15px;
    color: #62739c;
}
span.dob input {
    width: auto;
    margin-right: 13px;
    padding: 10px 20px;
    text-align: center;
}
span.dob {
    display: flex;
}
p.info-bold {
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
    color: #212843;
}
.next.button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-top: 40px;
    border-radius: 40px;
    color: #fff;
    background: #8ac03d;
    border-bottom: #638e3c;
    margin-left: 0px;
    transition: 0.8s;
}

.next.button:hover {
    background-color: #fff;
    border-color: #000;
    color: #8ac03d;
    border: 2px solid #638e3c;
}
select#province {
    font-size: 22px;
    padding-left: 15px;
    font-weight: 600;
}
.gender-div {
    display: flex;
}
span.gender {
    width: auto;
    display: flex;
    border: 2px solid #638e3c;
    margin-right: 20px;
    border-radius: 6px;
    padding: 0px 20px;
    text-align: center;
    align-items: center;
}
span.gender input {
    width: 18px;
}
span.gender label {
    margin: 0px 0px 0px 10px;
}
.card-body {
    background: #dae2f7;
}
.icon.icon-primary {
    margin-right: 25px;
}
.icon.icon-primary i {
    font-size: 40px;
    padding: 14px;
    background: #c1cbe5;
    color: #62739c;
    border-radius: 8px;
}
.card-body p {
    margin: 0px;
}
.card h5, .card p, .card a {
    color: #212843;
    text-decoration: none !important;
    border: none !important;
}
p.reshare {
    position: absolute;
    top: 75px;
    right: 22px;
    color: #212843;
}
.verify {
    position: relative;
}
p.reshare a {
    color: #212843;
    text-decoration: none;
    font-size: 16px;
}
.upload {
    border: 2px dotted #638e3c !important;
    height: 170px;
    position: relative;
}
.upload label i.fa {
    color: #8ac03d;
}
input#myFile {
    opacity: 0;
    height: 170px;
    z-index: 999;
    position: relative;
}
.upload label {
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 0;
    top: 22%;
}
.user-info .fa {
    font-size: 80px;
    color: #8ac03d;
}
.txt-large {
    font-size: 37px;
    font-weight: 700;
    margin-top: 0px;
    color: #212843;
}
.card:nth-child(1) .card-body {
    background: #fff;
    transition: 0.7s;
}
.card:nth-child(1) .card-body .icon.icon-primary .fa {
    background: #fff;
    color: #638e3c;
    border: 1px solid #638e3c;
}
.card:nth-child(2) .card-body {
    background: #fff;
}
.card:nth-child(2) .card-body .icon.icon-primary .fa {
    background: #fff;
    color: #dd6c45;
}
.card:nth-child(3) .card-body {
    background: #def6e8;
}
.card:nth-child(3) .card-body .fa {
    background: #b1e0c4;
    color: #2f8050;
}
.card {
    padding: 0px !important;
}
span.search {
    background: #f1f1f1;
    padding: 5px 18px;
    border-radius: 25px;
    margin-right: 10px;
}
p.error {
    background: #f1f1f1;
    padding: 2px 15px;
    border-radius: 6px;
    font-weight: 600;
    position: relative;
}
p.error a {
    position: absolute;
    right: 15px;
    color: #212843;
    text-decoration: none;
}
span.search label {
    margin: 10px 0px;
}
.company-card {
    border: 1px solid #eae5e5;
    padding: 0px !important;
    border-radius: 12px !important;
}
img.company-logo {
    width: 180px;
    padding: 10px 0px 0px 15px;
}
.company-card p.bold-txt, .company-card p.txt {
    margin: 0px;
    padding: 10px 0px 0px 15px;
}
a.button.save {
    background: #dfe7fc;
    display: block;
    padding: 10px 15px;
    margin-top: 15px;
    text-decoration: none;
    color: #212843;
    font-weight: 600;
    border-radius: 0px 0px 12px 12px;
}
.user-info {
    margin-top: 0rem;
    padding: 0px 20px;
    text-align: center;
    /* border: 1px solid #e5e2e2; */
}
.user-info .row {
    text-align: left;
}

.tab {
    margin-bottom: 20px;
}
.tab p {
    margin: 6px 0px;
}
.user-info a.button {
    text-align: center;
    width: 100%;
    display: block;
    border: 2px solid #212843;
    padding: 10px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 700;
}
.user-info a.button.light {
    color: #212843;
}
.user-info a.button.dark {
    color: #fff;
    background: #212843;
}
header.header {
    padding: 0px;
}
.dashboard {
    background: #212843;
    color: #fff;
    padding: 15px;
}
.user-ins {
    font-size: 20px;
    border: 2px solid #c1cbe5;
    border-radius: 50%;
    float: left;
    margin: 0px;
    width: 55px;
    height: 55px;
    text-align: center;
    align-items: center;
    display: grid;
    padding: 0px !important;
    background: #212843;
    color: #fff;
}

.dashboard .info, .user-name {
    text-align: left;
    margin-left: 70px !important;
    margin-bottom: 0px;
}
.user-name {
    font-size: 20px;
    font-weight: 600;
}
.profile-btn {
    text-decoration: none;
    color: #fff;
    background: #8ac03d;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
}
a.profile-btn:hover {
    color: #8ac03d;
    background: #fff;
    text-decoration: none;
    /* border: 2px solid #638e3c; */
}
.menu ul li a {
    padding: 20px 0px !important;
    font-size: 18px;
    color: #212843;
    text-decoration: none;
    width: 100%;
    display: block;
}
.menu ul li {
    width: 25%;
    padding-top: 0px !important;
}
.menu ul {
    display: flex;
    list-style-type: none;
    margin: 0px auto;
    width: 85%;
}
.menu a.active {
    box-shadow: 0px 4px 0px 0px #8ac03d;
}
.row.bg-light {
    background-color: #638e3c0d !important;
    padding: 10px;
    border-radius: 6px;
    border-color: #638e3c;
}
.med-info.bg-light {
    background-color: #fff !important;
    padding: 25px;
    border-radius: 6px;
    border-color: #638e3c;
    transition: .5s;
}

.med-iin a:hover .med-info.bg-light {
    background-color: #8ac03d !important;
}
a.info-btn {
    font-size: 20px;
    text-decoration: none;
    color: #212843;
    display: inline-block;
    margin-top: 20px;
}
.med-iin a:hover .med-info i {
    background-color: #fff;
    color: #638e3c;
}
.med-iin a:hover .med-info p {
    color: #fff;
}
.med-iin a {
    text-decoration: unset;
}
.bg-light {
    border: 1px solid #e5e3ff;
    padding: 15px;
    border-radius: 6px;
}
.med-info i {
    background: #8ac03d;
    padding: 12px;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
}
.med-iin .med-info p {
    text-align: center;
    margin-bottom: 0;
}
.menu ul li a:hover {
    background: #8ac03d;
    color: #fff;
}
.menu ul li a:hover i.fa {
    color: #fff;
}
.menu ul li a:hover i.fi {
    color: #fff;
}
p.big {
    position: absolute;
    font-size: 400px;
    color: #212843;
    text-align: center;
    align-items: center;
    left: 5%;
    top: 33%;
}
h2.display-5.pt-5 {
    font-weight: 900;
}   
img.partner-img {
    width: -webkit-fill-available;
}

.add-btn {
    order: 8;
}
.add-btn button#add {
    height: 170px;
    position: relative;
    width: 100%;
    background: #fff;
    color: #8ac03d;
    font-size: 18px;
    border-color: #638e3c;
}
.add-btn button#add .fa {
    font-size: 24px;
}


.light-bg {
    background: #c4d1f0;
    padding: 15px;
}
.label {
    font-size: 17px;
    font-weight: 600;
    color: #212843;
    display: block;
}
.radio label {
    margin: 14px 14px !important;
}
.radio input {
    width: 20px;
}
span.radio {
    display: inline-flex;
}

.user-name .fa {
    position: relative;
    top: -3px;
}



.dashboard {
    position: relative;
    z-index: 1;
}
nav#sidebarMenu {
    width: 33%;
    text-align: left;
    overflow: auto;
    max-height: 100vh;
    min-height: 100vh;
    position: fixed;
    height: auto;
    top: 0px;
    padding-top: 70px;
    z-index: 1;
}
nav#sidebarMenu .main {
    display: inline-block;
    padding: 0px 15px;
}
nav#sidebarMenu .main a {
    width: 50%;
    float: left;
}
nav#sidebarMenu .main a.active {
    background: #c1cbe5;
    color: #000;
}
nav#sidebarMenu .list-group p, nav#sidebarMenu .list-group a {
    padding: 0px 20px;
}
nav#sidebarMenu .list-group a {
    padding: 25px 20px !important;
    font-size: 17px;
    font-weight: 500;
    border-top: 1px solid #638e3c;
}

nav#sidebarMenu .list-group a.active, nav#sidebarMenu .list-group a.active i.fa {
    background-color: #8ac03d;
    color: #fff;
}
nav#sidebarMenu .main a {
    width: 44%;
    float: left;
    text-align: center;
    border: 1px solid #638e3c;
    margin: 10px 10px;
    border-radius: 8px; 
}

nav#sidebarMenu .main a.active, nav#sidebarMenu .list-group a:hover{
    background: #8ac03d;
    color: #fff;
}

nav#sidebarMenu .main a.active .fa, nav#sidebarMenu .main a.hover .fa, nav#sidebarMenu .list-group a:hover i.fa, nav#sidebarMenu .list-group a:hover i.fi {
   color: #fff; 
}
nav#sidebarMenu .main a .fa {
    display: block;
    color: #638e3c;
}
nav#sidebarMenu .list-group a .fa {
    font-size: 24px;
    margin-bottom: 10px;
    color: #638e3c;
}
nav#sidebarMenu .list-group a .fi {
    font-size: 24px;
    margin-bottom: 10px;
    color: #638e3c;
}
.acc-info p.info {
    text-align: left;
    margin-left: 70px !important;
    margin-bottom: 0px;
}
.acc-info a {
    display: flex;
    text-decoration: none;
    color: #212843;
}
.acc-info a .left {
    width: 80%;
}
.acc-info a .right {
    width: 20%;
    text-align: end;
    font-size: 16px;
    margin-top: 10px;
}

.sidebar-footer {
    display: flex;
    padding: 10px 0px;
}
.sidebar-footer .left {
    width: 100%;
}
.sidebar-footer img {
    width: 45px;
}
.sidebar-footer .right {
    text-align: end;
    width: 100%;
    align-items: center;
    display: flex;
}
.sidebar-footer .right a {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: #212843;
}
.sidebar-footer a {
    border: none !important;
    background: none !important;
}
button.close:after {
    content: "+";
    background: #212843;
    font-size: 50px;
    left: 0px;
    line-height: 43px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    transform: rotate(45deg);
    border: 2px solid #fff;
    width: 55px;
    height: 55px;
}
button.user-ins:hover {
    color: #fff;
}
button.close:hover:after {
    color: #fff;
}




.upload-after {
    position: absolute;
    top: 0;
    width: 100%;
}
.upload-after img#output {
    width: 100% !important;
    height: 166px !important;
    object-fit: cover;
}
.upload-after button#delete {
    position: absolute;
    right: 2px;
    bottom: 2px;
    border: 1px solid #ccc;
    font-size: 20px;
    z-index: 999;
}
.upload-after {
    display: none;
}


a.skip-btn {
    margin-top: 22px;
}


/*
 *  STYLE 15
 */

 ::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
     background-color: #F5F5F5;
     border-radius: 10px;
 }
 
 ::-webkit-scrollbar
 {
     width: 2px;
     background-color: #F5F5F5;
 }
 
 ::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     background-color: #FFF;
     background-image: -webkit-gradient(linear,
                                        40% 0%,
                                        75% 84%,
                                        from(#8ac03d),
                                        to(#8ac03d),
                                        color-stop(.6,#54DE5D))
 }
